<ul class="download-list">
    <li>
        <a href="{{ hymn.pdf.url }}">PDF</a>
    </li><li>
        <a href="{{ hymn.midi.url }}">MIDI</a>
    </li><li>
        <a href="{{ hymn.mp3.url }}">MP3</a>
    </li><li>
        <a href="{{ hymn.ogg.url }}">OGG</a>
    </li>
</ul>
