<div class="player-outer-container" data-plugin="Player" data-mp3="{{ hymn.mp3.url }}" data-ogg="{{ hymn.ogg.url }}">
    <div class="player-inner-container">
        <div id="jquery_jplayer_1" class="cp-jplayer"></div>
        <div class="prototype-wrapper">
            <div id="cp_container_1" class="cp-container">
                <div class="cp-buffer-holder">
                    <div class="cp-buffer-1"></div>
                    <div class="cp-buffer-2"></div>
                </div>
                <div class="cp-progress-holder">
                    <div class="cp-progress-1"></div>
                    <div class="cp-progress-2"></div>
                </div>
                <div class="cp-circle-control"></div>
                <ul class="cp-controls">
                    <li><a class="cp-play" tabindex="1">play</a></li>
                    <li><a class="cp-pause" style="display:none;" tabindex="1">pause</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
