{% load i18n %}
<h3>{% trans 'All hymns' %}</h3>
<ul class="hymns">
    {% for h in hymns %}
    {% if h.published %}
    <li><a href="{% url 'view_hymn' h.id %}">
        <span class="title">{{ h.title }}</span>
        {% if h.author %}<span class="author">{{ h.author }}</span>{% endif %}
    </a></li>
    {% endif %}
    {% endfor %}
</ul>
