{% load staticfiles i18n %}
<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% trans "Hymns music sheets" %}</title>

        <!-- Load jQuery -->
        <script src="{% static 'lib/jQuery/jquery-2.0.3.min.js' %}" type="text/javascript"></script>

        <!-- Load Foundation css -->
        <link href="{% static 'lib/foundation-5.0.2/css/foundation.min.css' %}" type="text/css" rel="stylesheet" />
        <link href="{% static 'lib/foundation-5.0.2/css/normalize.css' %}" type="text/css" rel="stylesheet" />

        <!-- Load jPlayer -->
        <link rel="stylesheet" href="{% static 'lib/circleplayer/circle.skin/circle.player.css' %}">
        <script type="text/javascript" src="{% static 'lib/circleplayer/js/jquery.transform2d.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/circleplayer/js/jquery.grab.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/circleplayer/js/jquery.jplayer.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/circleplayer/js/mod.csstransforms.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'lib/circleplayer/js/circle.player.js' %}"></script>

        <!-- Custom -->
        <link href="{% static 'css/styles.css' %}" type="text/css" rel="stylesheet" />
        <script src="{% static 'js/salmar.js' %}" type="text/javascript"></script>
    </head>
    <body>
        <!-- Load Foundation js. Must be loaded inside body because of a bug in foundation -->
        <script src="{% static 'lib/foundation-5.0.2/js/foundation.min.js' %}" type="text/javascript"></script>
        <script src="{% static 'lib/foundation-5.0.2/js/modernizr.js' %}" type="text/javascript"></script>
        <div class="off-canvas-wrap"><div class="inner-wrap">
        <header>
            <div class="row">
                {% if hymn %}
                <div class="large-6 medium-5 small-6 columns module">
                    <span class="module-title hide-for-small-only">{% trans 'Listen' %}</span>
                    {% include 'modules/player.html' %}
                    <div class="show-for-small-only">
                        {% include 'modules/download.html' %}
                    </div>
                </div>
                <div class="large-6 medium-5 columns module hide-for-small-only">
                    <span class="module-title">{% trans 'Download' %}</span>
                    {% include 'modules/download.html' %}
                </div>
                <div class="medium-2 small-6 columns module hide-for-large-only">
                    {% include 'modules/actions.html' %}
                </div>
                {% else %}
                    <div class="columns module">
                        <a href="{% url 'hymn' %}">
                            <span class="module-title">{% trans 'Home' %}</span>
                        </a>
                    </div>
                {% endif %}
            </div>
        </header>
        <section role="main">
            <div class="row">
                <aside class="right-off-canvas-menu">
                    {% include 'sidebar/hymns_bar.html' %}
                </aside>
                {% block content %}
                {% endblock %}
            </div>
        </section>
        </div></div>
    </body>
</html>
