{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="form-container">
    <h1>{% if hymn %}{% trans 'Edit' %} "{{ hymn.title }}"{% else %}{% trans 'Add hymn' %}{% endif %}</h1>
    <form enctype="multipart/form-data" method="post" action="" data-plugin="showLoaderOnSubmit">
        {% csrf_token %}

        <div class="row">
            {{ form.title }}
            {{ form.title.errors }}
        </div>

        <div class="row">
            {{ form.author }}
            {{ form.author.errors }}
        </div>

        <div class="row">
            {{ form.published }}
            <label for="id_published">{{ form.published.label }}</label>
            {{ form.published.errors }}
        </div>

        {% if not hymn %}
        <div class="row file-field">
            <label for="id_lilypond_file">{{ form.lilypond_file.label }}</label>
            {{ form.lilypond_file }}
            {{ form.lilypond_file.errors }}
        </div>
        {% endif %}

        <div class="row">
            <input type="submit" name="submit" value="{% trans 'Submit' %}" />
            <div class="loading hide">{% trans 'Please be patient. This might take some time' %}</div>
        </div>
    </form>
</div>
{% endblock %}
