{% extends 'hymn_base.html' %}
{% load i18n %}

{% block hymn %}
<div class="hymn">
    {% if hymn %}
        {% if user.is_authenticated %}
        <div class="actions-bar">
            <ul class="actions">
                <li><a href="{% url 'add_hymn' %}">{% trans 'New' %}</a></li>
                <li><a href="{% url 'edit_hymn' hymn.id %}">{% trans 'Edit' %}</a></li>
                <li><a href="{% url 'logout' %}">{% trans 'Logout' %}</a></li>
            </ul>
        </div>
        {% endif %}
        <img src={{ hymn.png.url }} alt="{% trans 'Hymn chords' %}" />
    {% else %}
        No hymns have been added yet
    {% endif %}
</div>
{% endblock %}
