{% extends 'base.html' %}

{% block content %}
    <div class="large-9 columns">
        {% block hymn %}
        {% endblock %}
    </div>
    <div class="large-3 columns show-for-large-only">
        {% include 'sidebar/hymns_bar.html' %}
    </div>
{% endblock %}
