{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="form-container">
    <h1>{% trans 'Login' %}</h1>

    <form method="post">
        {% csrf_token %}
        <div class="row">
            <input type="text" maxlength="254" name="username" placeholder="{% trans 'Username' %}" autofocus= />
            {{ form.username.errors }}
        </div>
        <div class="row">
            <input type="password" name="password" placeholder="{% trans 'Password' %}" />
            {{ form.password.errors }}
        </div>

        <div class="row">
            <input type="submit" value="{% trans 'Log in' %}" />
        </div>
    </form>
</div>
{% endblock %}
