header {
    background-color: #333;
    padding: 10px 0;
    border-bottom: solid 6px #999;
}

section[role=main] {
    padding: 2em 0;
}


/* Hymn */
.hymn {
    text-align: center;
}


/* Hymns list */
.hymns {
    list-style: none;
    margin: 0;
}

.hymns > li {
    margin: 10px 0;
    color: #666;
}

.hymns > li > a,
.hymns > li > a:visited {
    color: #666;
}

.hymns > li > a:hover {
    color: #000;
}

.hymns .title {
    font-weight: bold;
    display: block;
}

.hymns .author {
    font-style: italic;
    display: block;
}

.right-off-canvas-menu {
    padding: 20px;
}

.right-off-canvas-menu .hymns > li,
.right-off-canvas-menu .hymns > li > a,
.right-off-canvas-menu .hymns > li > a:visited {
    color: #BBB;
}

.right-off-canvas-menu h3,
.right-off-canvas-menu .hymns > li > a:hover {
    color: #FFF;
}


/* Hymn actions */
.actions-bar {
    width: 100%;
    text-align: left;
    margin-top: -1em;
}

.actions-bar ul.actions {
    list-style: none;
}

.actions-bar ul.actions > li {
    display: inline-block;
    margin: 0 10px;
}


/* Modules */

.module {
    display: table;
}

.module > * {
    display: inline-block;
    vertical-align: middle;
}

.module .module-title {
    color: #BBB;
    font-size: 1.6em;
    line-height: 104px;
    margin-right: 20px;
}

.module a .module-title {
    text-decoration: underline;
}

.module a:hover .module-title {
    color: #FFFFFF;
}

.download-list {
    margin: 0;
    list-style: none;
}

.download-list > li {
    border-right: solid 1px #999;
    padding: 0 7px;
    display: inline-block;
}

.download-list > li:last-child {
    border-right: none;
}

.download-list a,
.download-list a:visited {
    text-decoration: underline;
    color: #BBB;
}

.download-list a:hover {
    color: #FFF;
}


/* Forms */
.form-container {
    max-width: 400px;
}

form input[type=submit] {
    padding: 5px;
    outline: none;
    margin: 0;
    border: solid 1px #000000;
    border-radius: 3px;
    width: 100px;
    background-color: #303030;
    color: #FFFFFF;
    cursor: pointer;
}

form input[type=submit]:hover {
    background-color: #606060;
    color: #FFFFFF;
}

form .loading {
    background: url('../img/ajax-loader.gif') no-repeat;
    padding: 9px 0 9px 40px;
    font-weight: bold;
}

form .errorlist {
    color: #FF0000;
    list-style: none;
    margin-top: -1em;
}

form .row.file-field {
    margin-top: 20px;
}


/* jPlayer */

.cp-container {
    background: none;
}

.cp-progress-holder {
    background: url('../lib/circleplayer/circle.skin/buffer.png'), url('../lib/circleplayer/circle.skin/progress_sprite.jpg');
    border-radius: 100px;
}

.player-outer-container {
    display: inline-block;
    width: 104px;
    height: 104px;
}

.player-inner-container {
    position: relative;
    margin: -48px;
}


/* Responsive */

@media only screen and (min-width: 40.063em) {
    .hide-for-small-only {
        display: inline-block !important;
    }
}

@media only screen and (max-width: 40em) {
    .show-for-small-only {
        display: inline-block !important;
    }

    .download-list > li {
        display: list-item;
        border-right: none;
    }
}

@media only screen and (min-width: 64.063em) {
    .show-for-large-only {
        display: inline-block !important;
    }
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .show-for-medium-only, .show-for-medium-down {
        display: inline-block !important;
    }

    .download-list > li {
        display: list-item;
        border-right: none;
    }
}
